.pokemon {
  &__footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
    background-color: $boston-red;
    color: white;
    justify-content: center;
    height: 55px;
  }
}