.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &>.column {
    flex: 0 0 50%;
    max-width: 50%;

    @media (min-width: 767px) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}

.pokemon__main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}